.button {
  height: auto;
  border: 0;
  box-shadow: 0;
  text-decoration: none;
  border-radius: 0;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  @include font-size(16px, 1);
  padding: $spacer-base;
  @extend %family-bold;
  text-transform: uppercase;
  border-radius: $radius-mid;
  text-align: center;
  transition: background-color 0.2s ease;
  &--primary {
    background: $primary-100;
    color: white;
    box-shadow: 0 12px 34px #3e73dd75;
    &:hover {
      background-color: lighten($primary-100, 4%);
    }
  }
}

a {
  color: $neutral-300;
}
