.card-carousel {
  padding: 20px 0;
  width: 100%;
  &__wrap {
    .swiper-container {
      overflow: initial !important;
      .swiper-wrapper {
        height: auto;
      }
    }
    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: repeat(3, calc(33% - 12px));
      grid-column-gap: 24px;
    }
  }

  &__item {
    height: inherit !important;
    width: 90% !important;
    @include breakpoint(md) {
      width: 48% !important;
    }

    @include breakpoint(lg) {
      width: 100% !important;
    }
  }
}

.fake-carousel {
  margin-bottom: $spacer-base;
  &__wrap {
    display: inline-flex;
    flex: 1 1 auto;
    @include breakpoint(lg) {
      flex: 1 1 100%;
      width: 100%;
    }
  }
  &__item {
    margin-right: $spacer-small;
    display: block;
    height: inherit !important;
    width: calc(90vw - 16px) !important;
    @include breakpoint(md) {
      margin-right: $spacer-base;
      width: calc(48vw - 32px) !important;
    }
    @include breakpoint(lg) {
      width: 100%!important;
      flex: 1 1 100%;
    }    .skeleton {
    width: auto;
    p {
      @include truncate(100px);
    }
    }
  }
}