.card {
  &__wrap {
    padding: $spacer-large $spacer-mid;
    @include breakpoint(md) {
      padding: $spacer-xlarge $spacer-large;
    }
    background: white;
    border: 1px solid $neutral-100;
    box-shadow: 0 1px 2px 0 $neutral-100;
    border-radius: $radius-big;
  }
}
