.chart {
  height: 250px;
  @include breakpoint(md) {
    height: 350px;
  }
  @include breakpoint(lg) {
    height: 450px;
  }
  &__wrap {
    height: 100%;
  }

  &__item {
    height: 100%;
    .ct-chart {
      height: 100%;
    }
    .ct-series-a .ct-line,
    .ct-series-a .ct-point {
      stroke: $neutral-200;
    }

    .ct-series-a .ct-bar {
      stroke: $neutral-200;
    }

    .ct-series-b .ct-line,
    .ct-series-b .ct-point {
      stroke: green;
    }
    .ct-label {
      color: $neutral-300;
    }
    .ct-grid {
      stroke: $neutral-100 !important;
    }
  }
}
