.footer {
  &__wrap {
    padding: $spacer-mid 0;
  }

  &__item {
    p {
      @extend %family-bold;
      color: $neutral-200;
      @include font-size(14px, 1.8);
      a {
        color: $neutral-300;
      }
    }
  }
}
