.header {
  &__wrap {
    background: white;
    border-radius: $radius-big;
    box-shadow: $shadow-100;
    padding: $spacer-mid;
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint(md) {
      flex-wrap: nowrap;
      padding: 0 $spacer-mid;
      height: 80px;
    }
  }

  &__item {
    &--brand {
      flex: 1 1 100%;
      @include breakpoint(md) {
        flex: 0 auto;
      }
      a {
        text-decoration: none;
      }
      p {
        @extend %family-black;
        color: $neutral-400;
        text-transform: uppercase;
        @include font-size(24px, 1);
        span {
          color: $warning;
        }
        small {
          @include font-size(12px, 2);
          display: block;
          @extend %family-bold;
          margin-left: 28px;
          @include breakpoint(md) {
            margin-left: 32px;
          }
        }
      }
    }
    &--nav {
      margin-left: 28px;
      align-items: center;
      margin-top: $spacer-base;
      @include breakpoint(md) {
        margin-left: 0;
        margin-top: 0;
      }
      nav {
        ul {
          li {
            a {
              color: $neutral-300;
              @extend %family-black;
              @include font-size(14px, 1);
              text-transform: uppercase;
              text-decoration: none;
              margin-right: $spacer-base;
              &:last-of-type {
                margin-right: 0;
              }
              color: $neutral-300;
              transition: color 0.1s ease;
              &:hover {
                color: $neutral-200;
              }
            }
          }
        }
      }
    }
  }
}
