.message-box {
  border-radius: 8px;
  background-color: $neutral-50;
  line-height: 1.4;
  width: 100%;
  padding: $spacer-mid;
  @include breakpoint(iphoneFive) {
    padding: $spacer-small;
  }
  &:empty {
    display: none;
  }
  p {
    @extend %family-bold;
    @include breakpoint(md) {
      @include font-size(14px, 1.6);
    }
    @include breakpoint(iphoneFive) {
      @include font-size(12px, 1.6);
    }
  }
  &--success {
    background: $success;
  }
  &--error {
    background: $error;
    color: white;
  }

  &.is-small {
    padding: $spacer-base;
  }
}
