.row-card-item {
  &.is-selected {
    z-index: 1;
    .row-card-item-chevron {
      transform: translateY(-50%) rotateZ(-180deg);
      @include breakpoint(md) {
        transform: rotateZ(-180deg);
      }
    }
  }
  &.is-loading {
    .row-card-item__wrap {
      min-height: 88px;
      padding: $spacer-mid;
    }
  }
  &__wrap {
    @extend .card__wrap;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .skeleton {
      width: 100%;
    }
    .accordion__item,
    .accordion__heading {
      width: 100%;
    }
    .accordion__button {
      position: relative;

      display: flex;
      transition: background-color 0.1s ease;
      &:hover {
        @include breakpoint(md) {
          background-color: #fafafa;
        }
      }
      cursor: pointer;
      outline: 0;
      flex: 1 1 100%;
      padding: $spacer-large;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      @include breakpoint(md) {
        flex-wrap: nowrap;
      }
    }
    .accordion__panel {
      width: 100%;
    }
  }
  &__item {
    .row-card-item-chevron {
      width: 16px;
      height: 16px;
      margin-left: $spacer-base;
      opacity: 0.4;
      position: absolute;
      top: 50%;
      right: $spacer-large;
      transform: translateY(-50%);
      @include breakpoint(md) {
        right: 0;
        position: relative;
        transform: translateY(0);
      }
    }
    &--text {
      flex: 0 auto;
      p {
        position: relative;
        @include font-size(16px, 1);
        text-transform: uppercase;
        @extend %family-bold;
        margin-bottom: $spacer-base;
        @include breakpoint(md) {
          margin-bottom: 0;
        }

        span {
          color: $neutral-200;
          margin-right: $spacer-base;
          @include breakpoint(md) {
            margin-right: $spacer-mid;
          }
        }
      }
    }
    &--stats {
      margin-left: 22px;
      display: flex;
      flex: 1 1 100%;
      @include breakpoint(md) {
        justify-content: flex-end;
        margin-left: 0;
        flex: 0 auto;
      }
      p {
        position: relative;
        color: $neutral-300;
        margin-right: 16px;
        @include font-size(16px, 1);
        @extend %family-bold;
        @include breakpoint(md) {
          margin-left: 16px;
          margin-right: 0;
        }
        small {
          position: absolute;

          right: 0%;
          @include font-size(11px, 1);
          color: red;
          display: block;
          white-space: nowrap;
          bottom: -80%;
          @include breakpoint(md) {
            top: -80%;
            bottom: 0;
          }
        }
      }
    }
    &--panel {
      width: 100%;
      padding: 0 $spacer-large $spacer-base;
      .row-card-table {
        width: 100%;
        &__wrap {
          width: 100;
        }
        .row-card-table-row {
          width: 100%;
          &__wrap {
            flex: 1 1 100%;
            display: flex;
            justify-content: space-between;
          }
          &__item {
            p {
              color: $neutral-300;
              @extend %family-bold;
              @include font-size(14px, 3.2);
            }
          }
        }
      }
    }
  }
}
