%family-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%family-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

%family-semi {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%family-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}