.u-margin-top-spacer-huge {
  margin-top: $spacer-huge;
}

.u-margin-bottom-spacer-huge {
  margin-bottom: $spacer-huge;
}

.u-margin-bottom-spacer-large {
  margin-bottom: $spacer-large;
}

.u-margin-bottom-spacer-xlarge {
  margin-bottom: $spacer-xlarge;
}

.u-margin-bottom-spacer-large {
  margin-bottom: $spacer-large;
}

.u-margin-top-spacer-xxlarge {
  margin-top: $spacer-xxlarge;
}
.u-margin-top-spacer-large {
  margin-top: $spacer-large;
}

.u-text-right {
  text-align: right;
}
