// Spaces
$spacer-small: 0.5rem; // 8px
$spacer-base: 1rem; // 16px
$spacer-mid: 1.5rem; // 24px
$spacer-large: 2rem; // 32px
$spacer-mlarge: 2.5rem; // 40px
$spacer-xlarge: 3rem; // 48px
$spacer-xxlarge: 4rem; // 64px
$spacer-huge: 5rem; // 80px
$spacer-mhuge: 6rem; // 80px
$spacer-xhuge: 8rem; // 120px

// Colors
$neutral-50: #f3f5f8;
$neutral-100: #e9edf1;
$neutral-200: #b9bfca;
$neutral-300: #647087;
$neutral-400: #000b33;

$error: #ff5c5c;
$warning: #fcdca3;
$success: rgb(27, 196, 119);

$primary-50: #ebf1fb;
$primary-100: #3e73dd;
$primary-200: #265bbe;

$shadow-100: 0 19px 24px 0 rgba(62, 115, 221, 0.16);

$radius-big: 16px;
$radius-mid: 8px;
$radius-small: 4px;
