.homepage {
  width: 100%;
  &__wrap {
    display: flex;
    margin-top: $spacer-huge;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 100%;
    &--big-cards {
      > p {
        color: $neutral-200;
        @extend %family-bold;
        @include font-size(14px, 1);
        @include breakpoint(md) {
          text-align: right;
        }
      }
    }
    &--half {
      @include breakpoint(md) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 16px);
      }
    }
    &--updates {
      text-align: center;
      padding: $spacer-large 0;
      p {
        @include font-size(14px, 1.8);
        color: $neutral-300;
      }
    }
    &--region-chart {
      .homepage-region-chart-cta {
        text-align: center;
      }
      a {
        text-align: center;
        margin: $spacer-large auto;
        display: inline-block;
      }
    }
  }
}
