.layout {
  &__wrap {
    padding: $spacer-mid $spacer-mid 0 $spacer-mid;
  }
  &__item {
    &--body {
      min-height: calc(100vh - 322px);
    }
    .region-chart-wrapper {
      ul {
        columns: 1;
        @include breakpoint(lg) {
          columns: 2;
        }
      }
    }
  }
}
