.text-section {
  ul {
    padding-left: $spacer-large;
    @include breakpoint(md) {
      columns: 2;
    }
    li {
      margin: $spacer-base 0;
      &:first-child {
        margin: 0;
      }
      a {
        @include font-size(21px, 1.2);
        padding: 8px 0;
        text-decoration: underline;
        text-decoration: none;
        color: $neutral-300;
        transition: color 0.1s ease;
        &:hover {
          color: $neutral-200;
        }
      }
    }
  }
  &--faq {
    max-width: 780px;
    ul {
      padding-left: $spacer-large;
      columns: 1 !important;
      li {
        margin: $spacer-base 0;
        @include font-size(18px, 1.8);
        list-style: initial;
      }
    }
  }
}
